---
import Head from "~/components/Head.astro";
import Post from "~/components/Post.astro";
import Base from "~/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
});

const sortedPosts = posts.sort(
  (a, b) => Number(b.data.publishedDate) - Number(a.data.publishedDate)
);

const content = {
  description:
    "John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines.",
  title: "Posts | John Carlo Austria",
};
---

<Base>
  <Head slot="head">
    <title>Posts | John Carlo Austria</title>
    <meta name="description" content={content.description} />

    <meta name="color-scheme" content="light dark" />

    <meta name="description" content={content.description} />
    <meta property="og:title" content={content.title} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={content.description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="jaycedotbin.me" />
    <meta property="twitter:creator" content="@jaycedotbin" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta name="twitter:title" content={content.title} />
    <meta name="twitter:description" content={content.description} />
    <meta name="generator" content={Astro.generator} />
  </Head>
  <main slot="content" class="max-w-prose mx-auto px-4 lg:px-0">
    <header
      class="flex flex-row justify-between items-center text-zinc-800 dark:text-zinc-200"
    >
      <h1 class="text-xl text-zinc-900 dark:text-zinc-50 capitalize font-bold">
        All posts
      </h1>
      <a href="/rss.xml">
        <picture>
          <source
            srcset="https://cdn.simpleicons.org/rss/ffffff"
            media="(prefers-color-scheme: dark)"
          />
          <source
            srcset="https://cdn.simpleicons.org/rss/000000"
            media="(prefers-color-scheme: light )"
          />

          <img
            src="https://cdn.simpleicons.org/rss"
            width="16"
            height="16"
            alt="RSS Icon provided by Simple Icons"
          />
        </picture>
        <span class="sr-only">RSS</span>
      </a>
    </header>
    <article>
      <ul class="list-style-none p-0 m-0">
        {sortedPosts.map((instance) => <Post posts={instance} />)}
      </ul>
    </article>
  </main>
</Base>
