---
import { getCollection } from "astro:content";
import Card from "~/components/Card.astro";

const projects = await getCollection("projects");
---

<h2 id="projects">Projects</h2>
<p>The list of projects that I made or was part of throughout the years.</p>
<ul>
  {
    projects.map((project) => (
      <Card
        title={project.data.title}
        link={project.data.link}
        description={project.data.description}
        site={project.data.site}
        status={project.data.status}
      />
    ))
  }
</ul>

<style>
  ul {
    display: grid;
    padding: unset;
    list-style-type: none;
    grid-auto-flow: row;
    column-gap: var(--size-3);
    row-gap: var(--size-3);
  }

  @media screen and (min-width: 768px) {
    ul {
      grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    }
  }
</style>
