---
import Head from '@/components/Head.astro';
import Post from '@/components/Post.astro';
import Base from '@/layouts/Base.astro';
import type { Frontmatter } from '@/types/frontmatter';

const posts = await Astro.glob<Frontmatter>('../pages/posts/*.md');
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);

const content = {
	description:
		"John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines.",
	title: 'Home | John Carlo Austria',
};
---

<Base>
	<Head slot="head">
		<title>Home | John Carlo Austria</title>
		<meta name="description" content={content.description} />

		<meta name="color-scheme" content="light dark" />

		<meta name="description" content={content.description} />
		<meta property="og:title" content={content.title} />
		<meta property="og:url" content={Astro.url.href} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="jaycedotbin.github.io" />
		<meta property="twitter:creator" content="@jaycedotbin" />
		<meta property="twitter:url" content={Astro.url.href} />
		<meta name="twitter:title" content={content.title} />
		<meta name="twitter:description" content={content.description} />
		<meta name="generator" content={Astro.generator} />
		<script
			src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"
		></script>
	</Head>
	<main slot="content" class="max-w-prose mx-auto px-4 lg:px-0">
		<section class="flex flex-row justify-between items-center">
			<div>
				<h1 class="text-4xl font-black uppercase">All posts</h1>
			</div>
			<div>
				<a href="/rss.xml">
					<iconify-icon inline icon="carbon:rss" width="24" />
				</a>
			</div>
		</section>
		<hr />
		<section>
			<ul class="list-style-none p-0 m-0">
				{nonDraftPosts.map((post) => <Post post={post} />)}
			</ul>
		</section>
	</main>
</Base>
