---
import Head from "~/components/Head.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const content = {
  description:
    "John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines.",
  title: "About | John Carlo Austria",
};
---

<BaseLayout>
  <Head slot="head">
    <title>{content.title}</title>
    <meta name="description" content={content.description} />

    <meta name="color-scheme" content="light dark" />

    <meta name="description" content={content.description} />
    <meta property="og:title" content={content.title} />
    <meta property="og:url" content={Astro.url.href} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="jaycedotbin.me" />
    <meta property="twitter:creator" content="@jaycedotbin" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta name="twitter:title" content={content.title} />
    <meta name="twitter:description" content={content.description} />
    <meta name="generator" content={Astro.generator} />
  </Head>
  <main slot="content" class="">
    <section class="px-4 xl:pt-16 xl:px-40">
      <h1 class="text-center">
        <span class="text-2xl">
          <span class="text-neutral-50">Meet your next</span>
          <br />
          <span class="text-rose-500">Web</span>
          <span class="text-neutral-700">/</span>
          <span class="text-emerald-500">Computer</span>
          <span class="text-neutral-700">/</span>
          <span class="text-sky-500">Product</span>
        </span>
        <br />
        <span
          class="text-4xl font-bold animate-gradient-x bg-gradient-to-r from-violet-600 via-yellow-600 to-violet-600 bg-clip-text text-transparent"
          >{"<"}Engineer{"/>"}</span
        >
      </h1>
    </section>
  </main>
</BaseLayout>
