---
import Head from "~/components/Head.astro";
import Base from "~/layouts/BaseLayout.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("info", "about");

const { Content } = await entry.render();

const content = {
  description:
    "John Carlo Austria's Personal Portfolio, A frontend developer based in the Philippines.",
  title: "About | John Carlo Austria",
};
---

<Base>
  <Head slot="head">
    <title>{content.title}</title>
    <meta name="description" content={content.description} />

    <meta name="color-scheme" content="light dark" />

    <meta name="description" content={content.description} />
    <meta property="og:title" content={content.title} />
    <meta property="og:url" content={Astro.url.href} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="jaycedotbin.me" />
    <meta property="twitter:creator" content="@jaycedotbin" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta name="twitter:title" content={content.title} />
    <meta name="twitter:description" content={content.description} />
    <meta name="generator" content={Astro.generator} />
  </Head>
  <main
    slot="content"
    class="prose dark:prose-invert max-w-prose mx-auto px-4 lg:px-0 space-y-4"
  >
    <Content />
  </main>
</Base>
