---
import Card from "~/components/Card.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import MarkdoneImage from "~/assets/markdone.png";
import TenkiImage from "~/assets/tenki.png";
import type { CardProps } from "~/types/common.ts";


const projects: CardProps[] = [
  {
    title: "Markdone",
    coverImage: MarkdoneImage,
    coverImageAlt: "Markdone",
    link: "https://markdone.jaycedotbin.me",
  },
  {
    title: "Tenki",
    coverImage: TenkiImage,
    coverImageAlt: "Tenki",
    link: "https://tenki.jaycedotbin.me",
  },
];

export const meta = {
  title: "Projects | John Carlo Austria",
  description: "A curated list of all the projects that I have built",
};
---

<BaseLayout {meta}>
  <main class="px-4 lg:px-40">
    <section>
      <h2
        class="font-bold leading-loose text-neutral-50 md:text-5xl lg:text-8xl"
      >
        Projects
      </h2>
      <p class="text-xl font-semibold text-neutral-50 lg:text-3xl">
        A curated list of all the things that I have built
      </p>
      <ul class="grid gap-12 py-8 md:grid-cols-2 xl:grid-cols-4">
        {
          projects.map((project) => (
            <li>
              <Card
                title={project.title}
                coverImage={project.coverImage}
                coverImageAlt={project.coverImageAlt}
                link={project.link}
                orientation="landscape"
              />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
