---
import Card from "~/components/Card.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import type { SEOProps } from "~/types/common.ts";
import { getCollection } from "astro:content";

const projects = await getCollection("projects")

export const meta: SEOProps = {
  title: "Projects | John Carlo Austria",
  description: "A curated list of all the projects that I have built",
  keywords: ["Projects", "Works", "Portfolio"],
};
---

<BaseLayout {meta}>
  <main class="px-4 lg:px-40">
    <section>
      <h2
        class="font-bold leading-loose text-neutral-50 md:text-5xl lg:text-8xl"
      >
        Projects
      </h2>
      <p class="text-xl font-semibold text-neutral-50 lg:text-3xl">
        A curated list of all the things that I have built
      </p>
      <ul class="grid gap-12 py-8 md:grid-cols-2 xl:grid-cols-4">
        {
          projects.map((project) => (
            <li>
              <Card
                title={project.data.title}
                coverImage={project.data.coverImage}
                coverImageAlt={project.data.coverImageAlt}
                link={project.data.link}
                orientation="landscape"
              />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
