---
import "@fontsource/inter/variable.css";

import Head from "~/components/Head.astro";
import { Image } from "astro:assets";
import Portrait from "../assets/images/portrait-square.webp";

const content = {
  description: "HTML format of John Carlo Austria's Resume",
  title: "Resume | John Carlo Austria",
};
---

<html lang="en">
  <head>
    <Head>
      <title>{content.title}</title>
      <meta name="description" content={content.description} />
      <meta name="color-scheme" content="dark" />
      <meta property="og:title" content={content.title} />
      <meta property="og:url" content={Astro.url.href} />
      <meta name="generator" content={Astro.generator} />
    </Head>
  </head>
  <body class="font-sans bg-neutral-900 text-neutral-50">
    <header class="max-w-prose mt-8 mx-auto bg-neutral-900 text-neutral-50">
      <section class="flex flex-row gap-8">
        <figure>
          <Image
            src={Portrait}
            alt="Profile picture of John Carlo Austria"
            class="rounded-full"
            width="128"
            height="128"
          />
        </figure>
        <figcaption>
          <h1 class="text-5xl font-black text-neutral-100">
            John Carlo Austria
          </h1>
          <p class="text-slate-100">
            I'm a programmer that creates apps in the web and create bare metal
            devices.
          </p>

          <ul class="text-slate-400">
            <li>
              <span class="space-x-2 flex flex-row items-center">
                <img
                  height="16"
                  width="16"
                  src="https://cdn.simpleicons.org/googlemaps/94A3B8"
                />
                <a
                  href="http://maps.google.com/?q=San+Pablo+City,+Laguna,+Philippines"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  San Pablo City, Laguna, Philippines
                </a>
              </span>
            </li>
          </ul>
        </figcaption>
      </section>
    </header>

    <main class="max-w-prose mx-auto bg-neutral-900 text-neutral-50">
      <article>
        <h2 class="text-xl font-bold my-2 text-slate-400">Contact</h2>
        <section class="space-x-2 my-2">
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="16"
              width="16"
              src="https://cdn.simpleicons.org/twitter/ffffff"
              alt="Twitter Logo provided by Simple Icons"
            />
            <a
              href="https://twitter.com/jayzersdotyo"
              rel="noopener noreferrer"
              target="_blank">Twitter</a
            >
          </span>

          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="16"
              width="16"
              src="https://cdn.simpleicons.org/linkedin/ffffff"
              alt="Linkedin Logo provided by Simple Icons"
            />
            <a
              href="https://linkedin.com/in/jaycedotbin"
              rel="noopener noreferrer"
              target="_blank">LinkedIn</a
            >
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="16"
              width="16"
              src="https://cdn.simpleicons.org/github/ffffff"
              alt="GitHub logo provided by Simple Icons"
            />
            <a
              href="https://github.com/jaycedotbin"
              rel="noopener noreferrer"
              target="_blank"
            >
              Github
            </a>
          </span>
        </section>
      </article>
      <article>
        <h2 class="text-xl font-bold my-2 text-slate-400">About</h2>

        <p>
          A Computer Engineering Student (Undergraduate) in <a
            class="underline text-blue-500"
            href="https://www.facebook.com/PLSPOfficialFBPage"
            >Pamantasan Lungsod ng San Pablo</a
          >, I have a passion in programming and especially in web and embedded
          systems. I also have a passion in creating and designing stuff.
        </p>
      </article>
      <article>
        <h2 class="text-xl font-bold my-2 text-slate-400">Tech Stack</h2>

        <div class="flex flex-wrap gap-4">
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/react/ffffff"
              alt="React logo provided by Simple Icons"
            />
            <span>React</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/html5/ffffff"
              alt="HTML5 logo provided by Simple Icons"
            />
            <span>HTML5</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/css3/ffffff"
              alt="CSS3 logo provided by Simple Icons"
            />
            <span>CSS</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/javascript/ffffff"
              alt="JavaScript logo provided by Simple Icons"
            />
            <span>JavaScript</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/github/ffffff"
              alt="GitHub logo provided by Simple Icons"
            />
            <span>GitHub</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/git/ffffff"
              alt="Git logo provided by Simple Icons"
            />
            <span>Git</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/typescript/ffffff"
              alt="TypeScript logo provided by Simple Icons"
            />
            <span>TypeScript</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/tailwindcss/ffffff"
              alt="TailwindCSS logo provided by Simple Icons"
            />
            <span>TailwindCSS</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/next.js/ffffff"
              alt="Next.js logo provided by Simple Icons"
            />
            <span>Next.js</span>
          </span>
          <span
            class="inline-flex gap-1 items-center rounded text-xs bg-neutral-800 px-1 py-2"
          >
            <img
              height="20"
              width="20"
              src="https://cdn.simpleicons.org/astro/ffffff"
              alt="Astro logo provided by Simple Icons"
            />
            <span>Astro</span>
          </span>
        </div>
      </article>
      <article>
        <h2 class="text-xl font-bold text-slate-400">Career Objectives</h2>
        <p>
          To be able to work with companies where the main focus is innovation
        </p>
      </article>
    </main>
    <style>
      @page {
        margin: 0;
      }
    </style>
  </body>
</html>
