---
import { getImage } from "astro:assets";
import DefaultOGImage from "~/assets/images/opengraph/home.jpg";

const optimizedOGImage = await getImage({
  src: DefaultOGImage,
  width: 1200,
  height: 630,
  format: "jpeg",
});

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const OGImageURL = new URL(optimizedOGImage.src, Astro.url);

const meta = {
  data: {
    title: "CV - John Carlo Austria",
    description: "John Carlo Austria's Resume",
  },
};
---

<head>
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={meta.data.description} />
  <meta property="og:title" content={meta.data.title} />
  <meta property="og:url" content={Astro.url.href} />
  <meta property="og:description" content={meta.data.description} />
  <meta property="og:type" content="website" />
  <meta property="og:image" content={OGImageURL} />
  <meta property="og:image:alt" content={meta.data.title} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:creator" content="@fujiwaracj" />
  <meta name="twitter:description" content={meta.data.description} />
  <meta property="twitter:domain" content="https://jayzers.vercel.app" />
  <meta property="twitter:image" content={OGImageURL} />
  <meta property="twitter:image:alt" content={meta.data.title} />
  <meta name="twitter:title" content={meta.data.title} />
  <meta property="twitter:url" content={Astro.url.href} />
  <link rel="canonical" href={canonicalURL} />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <title>{meta.data.title}</title>
</head>
