---
import { Image } from "@astrojs/image/components";
export interface Frontmatter {
	description: string;
	title: string;
	date: Date;
	topic: string;
	image_name: string;
	image_alt: string;
	draft: boolean;
}

const response = await Astro.glob<Frontmatter>("../pages/posts/*.md");

const posts = Astro.url.pathname !== "/blog" ? response.slice(0, 4) : response;
---

{
	posts.map((post) => (
		<li class="rounded-md border-2 border-transparent transition ease-out hover:border-sky-800 dark:hover:border-blue-400 ">
			<a href={post.url}>
				<figure class="rounded bg-slate-100 dark:bg-neutral-800">
					<Image
						src={import(`../assets/${post.frontmatter.image_name}.jpeg`)}
						format="webp"
						alt={post.frontmatter.image_alt}
						width={1280}
						aspectRatio="16:9"
						class="rounded object-cover"
					/>
					<header class="p-4">
						<h3 class="text-2xl font-bold">{post.frontmatter.title}</h3>
					</header>
					<figcaption class="p-4">
						<p class="line-clamp-3 max-w-prose overflow-hidden">
							{post.frontmatter.description}
						</p>
					</figcaption>
				</figure>
			</a>
		</li>
	))
}
