---
import { getEntry, type CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"posts">;
};

const { posts } = Astro.props;

const formattedDate = posts.data.publishDate.toLocaleDateString("en-PH", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const author = await getEntry(posts.data.author);

const isoDate = posts.data.publishDate.toISOString();
---

<li>
  <h2>
    {posts.data.title}
  </h2>
  <p>
    By <a href={author.data.url}>{author.data.name}</a>
  </p>
  <time datetime={isoDate}>
    {formattedDate}
  </time>
  <p>
    {posts.data.description}
  </p>
  <a href={`/posts/${posts.id}`}>Read More 🡒</a>
</li>
