---
export interface Frontmatter {
	description: string;
	title: string;
	date: Date;
	image_url: string;
	image_alt: string;
}

const response = await Astro.glob<Frontmatter>("../pages/posts/*.md");

const posts = Astro.url.pathname !== "/blog" ? response.slice(0, 5) : response;
---

<ul class="py-4 px-0 list-none">
	{
		posts.map((post) => (
			<li class="my-4">
				<figure class="h-fit max-w-[640px] rounded-md bg-slate-100 p-4 dark:bg-slate-900">
					<h3 class="py-4 text-2xl font-bold">{post.frontmatter.title}</h3>
					<img
						src={post.frontmatter.image_url}
						alt={post.frontmatter.image_alt}
						width={1280}
						height={720}
					/>
					<figcaption class="py-4">{post.frontmatter.description}</figcaption>
					<a href={post.url} class="text-blue-800 underline dark:text-blue-300">
						See more &RightArrow;
					</a>
				</figure>
			</li>
		))
	}
</ul>
