---
import { Image } from "astro:assets";
import { getEntry, type CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"posts">;
};

const { posts } = Astro.props;

const formattedDate = posts.data.publishDate.toLocaleDateString("en-PH", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const author = await getEntry(posts.data.author);

const isoDate = posts.data.publishDate.toISOString();
---

<li>
  <h2>
    {posts.data.title}
  </h2>
  <time datetime={isoDate}>
    {formattedDate}
  </time>
  <figure>
    <Image
      src={posts.data.coverImage}
      alt={posts.data.coverImageAlt}
      width={640}
      height={360}
      quality={75}
      format="webp"
      loading="eager"
    />
  </figure>

  <figure class="author">
    <Image
      src={author.data.picture}
      width={24}
      height={24}
      alt={`${author.data.name}, the author of the blog post`}
    />
    <figcaption>
      {author.data.name}
    </figcaption>
  </figure>
  <p>
    {posts.data.description}
  </p>
  <a href={`/posts/${posts.slug}`}>Read</a>
</li>

<style>
  li {
    display: grid;
    gap: var(--size-2);
    grid-template-rows:
      minmax(64px, auto)
      minmax(var(--font-size-1), auto)
      minmax(auto, 360px)
      minmax(var(--font-size-1), auto)
      minmax(16px, 84px)
      min-content;
  }

  h1 {
    max-inline-size: var(--size-content-2);q
    text-wrap: balance;
  }

  .author {
    display: inline flex;
    gap: var(--size-2);
    place-items: center;
  }

  .author img {
    border-radius: var(--radius-round);
  }

  a {
    display: inline;
    color: var(--blue-5);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: var(--size-1);
    }
  }
</style>
