---
import { Image } from "astro:assets";
import { getEntry, type CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"posts">;
};

const { posts } = Astro.props;

const formattedDate = posts.data.publishDate.toLocaleDateString("en-PH", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const author = await getEntry(posts.data.author);

const isoDate = posts.data.publishDate.toISOString();
---

<li>
  <a
    href={`/posts/${posts.slug}`}
    class="relative inline-flex flex-col rounded transition-all duration-300 hover:ring-2 hover:ring-primary hover:ring-offset-4 hover:ring-offset-neutral-950"
  >
    <Image
      src={posts.data.coverImage}
      alt={posts.data.coverImageAlt}
      class="aspect-[16/9] rounded"
      width={640}
      height={360}
      quality={75}
      format="webp"
      loading="eager"
    />
    <div
      class="absolute bottom-0 flex h-[75%] w-full flex-col justify-end gap-2 rounded bg-gradient-to-t from-neutral-950 to-transparent px-4 pb-2"
    >
      <div>
        <h2 class="line-clamp-1 font-bold text-foreground">
          {posts.data.title}
        </h2>
        <time datetime={isoDate} class="text-xs text-neutral-500">
          {formattedDate}
        </time>
      </div>
      <span class="inline-flex items-center gap-2 text-xs">
        <Image
          src={author.data.picture}
          width={24}
          height={24}
          class="rounded-full"
          alt={`The GitHub profile photo for ${author.data.name}`}
        />
        {author.data.name}
      </span>
      <p class="line-clamp-2 text-sm leading-6 text-foreground">
        {posts.data.description}
      </p>
    </div>
  </a>
</li>
