---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"posts">;
}

const { posts } = Astro.props;

const formattedDate = posts.data.publishDate.toLocaleDateString("en-PH", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const isoDate = posts.data.publishDate.toISOString();
---

<li>
  <a
    href={`/posts/${posts.slug}`}
    class="inline-flex flex-col rounded transition-all duration-300 hover:ring-2 hover:ring-offset-4 hover:ring-offset-neutral-950"
  >
    <Image
      src={posts.data.coverImage}
      alt={posts.data.coverImageAlt}
      class="aspect-[2/3] rounded shadow-inner"
    />
    <time class="font-mono text-sm font-bold" datetime={isoDate}
      >{formattedDate}</time
    >
    <h2 class="line-clamp-2 text-xl font-bold text-neutral-50">
      {posts.data.title}
    </h2>
    <p class="line-clamp-3 text-sm leading-6">
      {posts.data.description}
    </p>
  </a>
</li>
