---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"posts">;
}

const { posts } = Astro.props;

const formattedDate = posts.data.publishDate.toLocaleDateString("en-PH", {
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
  second: "numeric",
  timeZoneName: "shortOffset",
});
const isoDate = posts.data.publishDate.toISOString();
---

<li>
  <a href={`/posts/${posts.slug}`} class="hover:ring ring-offset-4 hover:ring-neutral-50">
    <article>
      <Image src={posts.data.coverImage} alt={posts.data.coverImageAlt} class="rounded aspect-[2/3] shadow-inner" />
      <h2 class="text-3xl font-bold text-neutral-50">
        {posts.data.title}
      </h2>
      <p class="text-sm leading-6">
        {posts.data.description}
      </p>
      <time datetime={isoDate}>{formattedDate}</time>
    </article>
  </a>
</li>
