---
import type { Frontmatter } from '@/types/frontmatter';
import { Image } from '@astrojs/image/components';
import type { MarkdownInstance } from 'astro';

const { post } = Astro.props as { post: MarkdownInstance<Frontmatter> };
---

<li>
	<a href={post.url}>
		<figure>
			<Image
				src={import(`../assets/${post.frontmatter.image_name}.jpeg`)}
				format="webp"
				alt={post.frontmatter.image_alt}
				width={1280}
				aspectRatio="16:9"
			/>
			<header>
				<h3>{post.frontmatter.title}</h3>
			</header>
			<figcaption>
				<p>{post.frontmatter.description}</p>
			</figcaption>
		</figure>
	</a>
</li>

<style>
	li {
		border-radius: 0.375rem;
		border: 2px;
		border-color: transparent;
		transition-property: color, background-color, border-color,
			text-decoration-color, fill, stroke, opacity, box-shadow, transform,
			filter, backdrop-filter;
		transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	li:hover {
		border-color: hsl(201, 90%, 27%);
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 2rem;
	}

	figure {
		border-radius: 0.25rem;
		background-color: hsl(210, 40%, 96%);
		height: 100%;
	}

	figcaption {
		padding: 1rem;
	}

	figcaption p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		max-width: 65ch;
	}

	img {
		border-radius: 0.25rem;
		object-fit: cover;
	}

	header {
		padding: 1rem;
	}

	@media (prefers-color-scheme: dark) {
		figure {
			background-color: #27272a;
		}
		li:hover {
			border-color: hsl(212, 96%, 78%);
		}
	}
</style>
