---
import { Image, Picture } from "astro:assets";
import { getEntry, type CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"posts">;
};

const { posts } = Astro.props;

const formattedDate = posts.data.publishDate.toLocaleDateString("en-PH", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const author = await getEntry(posts.data.author);

const isoDate = posts.data.publishDate.toISOString();
---

<li>
  <a href={`/posts/${posts.slug}`}>
    <h2>
      {posts.data.title}
    </h2>
    <time datetime={isoDate}>
      {formattedDate}
    </time>
    <figure class="post">
      <Picture
        src={posts.data.coverImage}
        alt={posts.data.coverImageAlt}
        widths={[240, 480, 640, 1280, 1920]}
        formats={["jpeg", "webp", "avif"]}
        loading="lazy"
      />
    </figure>

    <figure class="author">
      <Image
        src={author.data.picture}
        width={24}
        height={24}
        alt={`${author.data.name}, the author of the blog post`}
      />
      <figcaption>
        {author.data.name}
      </figcaption>
    </figure>
    <p>
      {posts.data.description}
    </p>
  </a>
</li>

<style>
  li {
    list-style-type: none;
    padding: var(--size-2);
    border-radius: var(--radius-2);
    transition: all 250ms ease-in-out;
    background: light-dark(var(--gray-3), var(--gray-10));
    border: var(--border-size-1) solid light-dark(var(--gray-6), var(--gray-7));
  }

  li a {
    display: grid;
    gap: var(--size-3);
    grid-template-rows:
      100px
      minmax(var(--font-size-1), auto)
      auto
      minmax(var(--font-size-1), auto)
      minmax(16px, 72px);
  }

  li:hover {
    background-color: light-dark(var(--gray-1), var(--gray-11));
  }

  figure {
    margin: unset;
  }

  time {
    font-size: 0.9rem;
    font-weight: var(--font-weight-8);
    color: var(--gray-6);
  }

  .post img {
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    height: auto;
  }

  h1 {
    max-inline-size: var(--size-content-2);
    text-wrap: balance;
  }

  .author {
    display: inline flex;
    gap: var(--size-2);
    place-items: center;
  }

  .author img {
    border-radius: var(--radius-round);
  }

  a {
    color: unset;
    text-decoration: none;
  }
</style>
