---
import type { Frontmatter } from "@/types/frontmatter";
import { Image } from "@astrojs/image/components";
import type { MarkdownInstance } from "astro";

const { post } = Astro.props as { post: MarkdownInstance<Frontmatter> };
---

<li
	class="rounded-md border-2 border-transparent transition ease-out hover:border-sky-800 dark:hover:border-blue-400"
>
	<a href={post.url}>
		<figure class="rounded bg-slate-100 dark:bg-neutral-800 h-full">
			<Image
				src={import(`../assets/${post.frontmatter.image_name}.jpeg`)}
				format="webp"
				alt={post.frontmatter.image_alt}
				width={1280}
				aspectRatio="16:9"
				class="rounded object-cover"
			/>
			<header class="p-4">
				<h3 class="text-2xl font-bold">{post.frontmatter.title}</h3>
			</header>
			<figcaption class="p-4">
				<p class="line-clamp-3 max-w-prose overflow-hidden">
					{post.frontmatter.description}
				</p>
			</figcaption>
		</figure>
	</a>
</li>
