---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection, CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const postEntries = await getCollection("posts");

  return postEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const date = entry.data.publishDate.toLocaleDateString("en-PH", {
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
});

const { Content } = await entry.render();

const meta = {
  title: entry.data.title,
  description: entry.data.description,
};
---

<BaseLayout {meta}>
  <main
    class="prose mx-auto px-4 font-sans dark:prose-invert prose-code:font-mono prose-pre:font-mono lg:px-0"
  >
    <header>
      <p>
        <time datetime={entry.data.publishDate.toISOString()}>
          {date}
        </time>
      </p>
      <h1>
        {entry.data.title}
      </h1>
      <figure>
        <Image
          src={entry.data.coverImage}
          alt={entry.data.coverImageAlt}
          width={entry.data.coverImage.width}
          height={entry.data.coverImage.height}
          format="webp"
          class="rounded"
        />
      </figure>
    </header>
    <article>
      <Content />
    </article>
  </main>
</BaseLayout>
