---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import ArrowLeft from "~/components/assets/ArrowLeft.astro";

type Props = {
  entry: CollectionEntry<"posts">;
  author: CollectionEntry<"authors">;
};

export async function getStaticPaths() {
  const postEntries = await getCollection("posts", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });

  return postEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const date = entry.data.publishDate.toLocaleDateString("en-PH", {
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
});

const { Content } = await entry.render();

const author = await getEntry("authors", entry.data.author.id);
const meta = {
  title: entry.data.title,
  description: entry.data.description,
  image: entry.data.coverImage,
  keywords: entry.data.keywords,
};
---

<BaseLayout {meta}>
  <main>
    <header aria-label="Post Title and Image">
      <a href="/posts"><ArrowLeft />Back</a>
      <time datetime={entry.data.publishDate.toISOString()}>
        {date}
      </time>
      <h1>
        {entry.data.title}
      </h1>
      <figure>
        <Image
          src={author.data.picture}
          width={24}
          height={24}
          quality={75}
          format="webp"
          loading="eager"
          alt={`${author.data.name}, the author of the blog post`}
        />
        <figcaption>{author.data.name}</figcaption>
      </figure>
      <figure>
        <Image
          src={entry.data.coverImage}
          alt={entry.data.coverImageAlt}
          width={960}
          height={540}
          quality={75}
          format="webp"
          loading="eager"
        />
        <figcaption>{entry.data.coverImageAlt}</figcaption>
      </figure>
    </header>
    <article>
      <Content />
    </article>
  </main>
</BaseLayout>
