---
import "~/styles/global.css";
import { getImage, Font } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import DefaultOGImage from "~/assets/images/opengraph/home.jpg";

type Props = {
  meta?: Omit<CollectionEntry<"meta">, "id" | "collection"> | undefined;
};

const { meta } = Astro.props;

const optimizedOGImage = await getImage({
  src: meta?.data.image ?? DefaultOGImage,
  width: 1200,
  height: 630,
  format: "webp",
});

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const OGImageURL = new URL(optimizedOGImage.src, Astro.url);
---

<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="color-scheme" content="light dark" />
    <meta name="description" content={meta?.data.description} />
    <meta name="keywords" content={meta?.data.keywords.join(", ")} />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={meta?.data.title} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={meta?.data.description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={OGImageURL} />
    <meta
      property="og:image:alt"
      content={meta?.data.imageAlt ?? meta?.data.title}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@cpeaustriajc" />
    <meta name="twitter:description" content={meta?.data.description} />
    <meta property="twitter:domain" content="https://cpeaustriajc.github.io" />
    <meta property="twitter:image" content={OGImageURL} />
    <meta
      property="twitter:image:alt"
      content={meta?.data.imageAlt ?? meta?.data.title}
    />
    <meta name="twitter:title" content={meta?.data.title} />
    <meta property="twitter:url" content={Astro.url.href} />
    <Font cssVariable="--font-sans" preload />
    <title>{meta?.data.title}</title>
  </head>
  <body class="bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-50">
    <slot />
  </body>
</html>
