---
import "@fontsource-variable/inter";
import "@fontsource-variable/roboto-mono";
import BaseHead from "~/components/BaseSEO.astro";
import Header from "~/components/Header.astro";
import PortfolioV2 from "~/assets/portfolio-v2.png";
import { getImage } from "astro:assets";
import type { SEOProps } from "~/types/common";

type Props = {
  meta: SEOProps;
};

const { meta } = Astro.props;

const optimizedOGImage = await getImage({
  src: meta.image ?? PortfolioV2,
  width: 1200,
  height: 630,
  format: "jpeg",
});
const OGImageURL = new URL(optimizedOGImage.src, Astro.url);
---

<html dir="ltr" lang="en">
  <head>
    <BaseHead />
    <title>{meta.title}</title>
    <meta name="color-scheme" content="dark" />
    <meta name="description" content={meta.description} />
    <meta name="keywords" content={meta.keywords?.join(", ")} />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={meta.title} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={OGImageURL} />
    <meta property="og:image:alt" content={meta.imageAlt ?? meta.title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@jaycedotbin" />
    <meta name="twitter:description" content={meta.description} />
    <meta property="twitter:domain" content="jaycedotbin.me" />
    <meta property="twitter:image" content={OGImageURL} />
    <meta property="twitter:image:alt" content={meta.imageAlt ?? meta.title} />
    <meta name="twitter:title" content={meta.title} />
    <meta property="twitter:url" content={Astro.url.href} />
  </head>
  <body class="transform-gpu bg-container text-foreground antialiased">
    <Header />
    <slot />
  </body>
</html>
