---
import Head from '@/components/Head.astro';
import Base from '@/layouts/Base.astro';
import type { Frontmatter as MarkdownContent } from '@/types/frontmatter';

interface MarkdownContentProps {
	content: MarkdownContent;
}

const { content } = Astro.props as MarkdownContentProps;
const { minutesRead } = Astro.props.frontmatter;
---

<Base>
	<Head slot="head">
		<title>{content.title}</title>
		<meta name="description" content={content.description} />

		<meta name="color-scheme" content="light dark" />

		<meta property="og:title" content={content.title} />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:image" content={`/assets/${content.image_name}`} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="jaycedotbin.github.io" />
		<meta property="twitter:url" content={Astro.url.href} />
		<meta name="twitter:title" content={content.title} />
		<meta name="twitter:description" content={content.description} />
		<meta name="twitter:image" content={`/assets/${content.image_name}`} />
	</Head>

	<main slot="content">
		<header>
			<h1>{content.title}</h1>
			<p>
				<time datetime={content.date.format}>
					{content.date.content}
				</time>

				&mdash;

				{minutesRead}
			</p>
		</header>
		<article>
			<slot />
		</article>
	</main>
</Base>

<style>
	main {
		max-width: 65ch;
		margin: 0 auto;
	}

	:global(article > p > img) {
		width: 100%;
	}
</style>
