---
import Head from "@/components/Head.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import type { Frontmatter as MarkdownContent } from "@/types/frontmatter";
import { getImage } from "@astrojs/image";
import { Picture } from "@astrojs/image/components";

interface MarkdownContentProps {
	content: MarkdownContent;
}

const { content } = Astro.props as MarkdownContentProps;
const { src } = await getImage({
	src: content.image_name,
	width: 1920,
	height: 1080,
	format: "webp",
});
---

<DefaultLayout>
	<Head slot="head">
		<title>{content.title}</title>
		<meta name="description" content={content.description} />
		<meta property="og:title" content={content.title} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={src} />
	</Head>
	<article
		class="mx-8 lg:mx-auto prose md:prose-xl lg:prose-2xl dark:prose-invert dark:prose-a:text-blue-300 prose-a:text-blue-800"
		slot="content"
	>
		<header>
			<h1>{content.title}</h1>
		</header>
		<figure class="text-center my-2 md:my-4 lg:my-8">
			<Picture
				src={import(`../assets/${content.image_name}.jpeg`)}
				sizes="(min-width: 50em) 360w, (min-width: 100em) 720w,"
				widths={[360, 720, 1280]}
				alt={content.image_alt}
				aspectRatio="16:9"
				class="[&>img]:rounded-lg"
			/>
			<figcaption class="text-center text-xs font-bold">
				{content.image_alt}
			</figcaption>
		</figure>
		<slot />
	</article>
</DefaultLayout>
