---
import Head from "@/components/Head.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { Image } from "@astrojs/image/components";

const { content } = Astro.props;
---

<DefaultLayout>

    <Head slot="head" title={content.title} description={content.description} />
    <Fragment slot="content">
        <header class="prose md:prose-xl lg:prose-2xl dark:prose-invert">
            <h1>{content.title}</h1>
        </header>
        <figure class="text-center my-2 md:my-4 lg:my-8">
            <Image src={import.meta.env.MODE === "production" ? content.image_url : import("../" + content.image_url)} width={1920} alt={content.image_alt} aspectRatio="16:9" />
            <figcaption class="text-center">{content.image_alt}
            </figcaption>
        </figure>
        <article class="prose md:prose-xl lg:prose-2xl dark:prose-invert">
            <slot />
        </article>
    </Fragment>
</DefaultLayout>
