---
import Head from '@/components/Head.astro';
import Base from '@/layouts/Base.astro';
import type { Frontmatter as MarkdownContent } from '@/types/frontmatter';

interface MarkdownContentProps {
	content: MarkdownContent;
}

const { content } = Astro.props as MarkdownContentProps;
const { minutesRead } = Astro.props.frontmatter;
---

<Base>
	<Head slot="head">
		<title>{content.title}</title>
		<meta name="description" content={content.description} />

		<meta name="color-scheme" content="light dark" />

		<meta property="og:title" content={content.title} />
		<meta property="og:url" content={Astro.url.href} />
		<meta
			property="og:image"
			content={`/assets/${content.image_name}.webp`}
		/>
		<meta property="og:image:alt" content={`${content.image_alt}`} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="jaycedotbin.me" />
		<meta property="twitter:url" content={Astro.url.href} />
		<meta name="twitter:title" content={content.title} />
		<meta name="twitter:description" content={content.description} />
		<meta
			name="twitter:image"
			content={`/assets/${content.image_name}.webp`}
		/>
		<meta name="twitter:image:alt" content={`${content.image_alt}`} />
	</Head>

	<main
		slot="content"
		class="font-sans mx-auto prose prose-headings:font-display dark:prose-invert px-4 lg:px-0"
	>
		<header>
			<h1 class="font-display">{content.title}</h1>
			<p>
				<time datetime={content.date.format}>
					{content.date.content}
				</time>

				&mdash;

				{minutesRead}
			</p>
		</header>
		<article>
			<slot />
		</article>
	</main>
</Base>
