---
import Head from "@/components/Head.astro";
import { Picture } from "@astrojs/image/components";
import type { Frontmatter as MarkdownContent } from "@/components/Posts.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";

interface MarkdownContentProps {
	content: MarkdownContent;
}

const { content } = Astro.props as MarkdownContentProps;
---

<DefaultLayout>
	<Head slot="head">
		<title>{content.title}</title>
		<meta name="description" content={content.description} />
	</Head>
	<Fragment slot="content">
		<article
			class="prose md:prose-xl lg:prose-2xl dark:prose-invert dark:prose-a:text-blue-300 prose-a:text-blue-800"
		>
			<header>
				<h1>{content.title}</h1>
			</header>
			<figure class="text-center my-2 md:my-4 lg:my-8">
				<Picture
					src={import(`../assets/${content.image_name}.jpeg`)}
					widths={[360, 720, 1280]}
					alt={content.image_alt}
					aspectRatio="16:9"
					class="[&>img]:rounded-lg"
				/>
				<figcaption class="my-2 text-center text-sm font-bold">
					{content.image_alt}
				</figcaption>
			</figure>
			<slot />
		</article>
	</Fragment>
</DefaultLayout>
